{% extends 'index.html' %}

{% block content %}
    <div class="newItem">
        <div class="item-image-container">
            <img src="{{ item.image.url }}" alt="{{ item.name }}"></img>
        </div>
        <div class="item-text-container">
            <h3>{{ item.name }}</h3>
            <p>＄{{ item.price }}</p>
            <a href="{% url 'item_details' item_id=item.pk %}" class="item-details-button">詳細資訊</a>
        </div>
    </div>

    <div class="item-details-wrapper">
        <div class="item-details-container">
            <!-- 商品詳細資訊 -->
            <div class="item-details-image">
                <img src="{{ item.image.url }}" alt="{{ item.name }}" />
            </div>
            <div class="item-details-text">
                <h2>{{ item.name }}</h2>
                <h3>＄{{ item.price }}</h3>
                <p>數量：{{ item.quantity }}</p>
                <p>分類：{{ item.category }}</p>
                <p>交易方式：{{ item.transaction_type }}</p>
                <p>面交地點：{{ item.transaction_location }}</p>
                <p>商品狀況：{{ item.condition }}</p>
            </div>

            <label>留言板：</label>
            <form method="post" action="{% url 'item_detail' item_id=item.pk %}" id="comment-form">
                {% csrf_token %}
                <textarea id="comment-input" name="comment" rows="5" cols="50"></textarea>
                <br>
                <button type="submit" id="comment-submit-button">留言</button>
            </form>

            <div class="comments">
                {% for comment in comments %}
                    <div class="comment">
                        <p>{{ comment.content }}</p>
                        <p>{{ comment.created_at }}</p>
                    </div>
                {% empty %}
                    <p>目前還沒有留言。</p>
                {% endfor %}
            </div>

            <button class="close-button">X</button>
                        
            </div>
        {% comment %} </div> {% endcomment %}
    </div>
</div>
{% endblock %}
