{% load static %}

<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <title>My Web App</title>
  <link rel="stylesheet" href="{% static 'style.css' %}?v=3">
  <link rel="stylesheet" href="{% static 'navbar.css' %}?v=3">

</head>
<body>
    
    <!-- top bar container -->
	<div class="top-bar-container">
		<div class="top-bar-menu container">
			<a href="#">
				<img src="{% static './images/language.png' %}" alt="">
				<div>語言</div>
			</a>
			<a href="http://127.0.0.1:8000/">
				<img src="{% static './images/person.png' %}" alt="">
				<div>會員登入</div>
			</a>
		</div>
	</div>

    <!-- nav bar container -->
	<div class="nav-bar-container">
		<div class="nav-bar-menu container">
			<div class="menu">
				<ul>
					<li class="menu-item"><a href="#">首頁</a></li>
					<li class="menu-item"><a href="#">二手市集</a></li>
					<li class="menu-item"><a href="#article">專欄文章</a></li>
					<li class="menu-item"><a href="#campaign">活動</a></li>
				</ul>
			</div>
			<div class="top-search">
				<a><img id="top-search-btn" src="{% static './images/search.png' %}" alt=""></a>
			</div>
			<div class="show-search" id="show-search">
				<form role="search" method="get" id="searchform" action="">
					<div><input type="text" class="search-input" placeholder="搜尋" name="s" id="s" /></div>
				</form>
			</div>
		</div>
	</div>

    <!-- 按鈕 -->
    <button id="sell-button">我要販賣物品</button>
    <script>
        const sellBtn = document.querySelector('#sell-button');
        sellBtn.addEventListener('click', () => {
            {% if not request.user.is_authenticated %}
                alert("請先登入");
            {% else %}
                const url = '/posts/sell';
                window.location.href = url;
            {% endif %}
        });        
    </script>

    <button id="my-item-button">我正在販賣的物品</button>
    <script>
        const myItemBtn = document.querySelector('#my-item-button');
        myItemBtn.addEventListener('click', () => {
            {% if not request.user.is_authenticated %}
                alert("請先登入");
            {% else %}
                const url = '/posts/my-item';
                window.location.href = url;
            {% endif %}
        });        
    </script>

    <div id="sell-form">
        <h2>販賣物品</h2>
        <form method="post" action="{% url 'add_item' %}" enctype="multipart/form-data"> 
            {% csrf_token %}
            <label>物品名稱：
                <input type="text" id="item-name" name="name" required>
            </label>

            <label>價格：
                <input type="number" id="item-price" name="price" required>
            </label>

            <label>交易方式：</label>
            <select id="item-transaction" name="transaction_type">
                <option value="僅面交">僅面交</option>
                <option value="僅寄送">僅寄送</option>
                <option value="面交、寄送皆可">面交、寄送皆可</option>
            </select>

            <label>面交地點：
                <input type="text" id="item-location" name="transaction_location">
            </label>

            <label>數量：
                <input type="number" id="item-quantity" name="quantity" required>
            </label>

            <label>分類：</label>
            <select id="item-category" name="category">
                <option value="衣物">衣物</option>
                <option value="鞋子">鞋子</option>
                <option value="3C">3C</option>
                <option value="其他">其他</option>
            </select>

            <label>商品狀況：
                <input type="text" id="item-condition" name="condition" required>
            </label>

            <label>上傳圖片：
                <input type="file" id="item-image" accept="image/*" name="image" required>
            </label>

            <div>
            <button type="button" id="cancel-button">取消</button>
            <button type="submit" id="sell-submit-button" value="Post">販賣</button>
            </div>
        </form>
    </div>

    
    <!-- 商品類別 -->
    <div class="categories">
        <ul>
            <li class="{% if not category %}active{% endif %}">
                <a href="{% url 'item_list' %}" onclick="location.href=this.href;">全部</a>
            </li>
            <li class="{% if category == '衣物' %}active{% endif %}">
                <a href="{% url 'item_list_by_category' '衣物' %}" onclick="location.href=this.href;">衣物</a>
            </li>
            <li class="{% if category == '鞋子' %}active{% endif %}">
                <a href="{% url 'item_list_by_category' '鞋子' %}" onclick="location.href=this.href;">鞋子</a>
            </li>
            <li class="{% if category == '3C' %}active{% endif %}">
                <a href="{% url 'item_list_by_category' '3C' %}" onclick="location.href=this.href;">3C</a>
            </li>
            <li class="{% if category == '其他' %}active{% endif %}">
                <a href="{% url 'item_list_by_category' '其他' %}" onclick="location.href=this.href;">其他</a>
            </li>
        </ul>
    </div>

    <div id="item-container">
        {% for item in items %}
            <div class="newItem">
                <div class="item-image-container">
                    <img src="{{ item.image.url }}" alt="{{ item.name }}"></img>
                </div>
                <div class="item-text-container">
                    <h3>{{ item.name }}</h3>
                    <p>＄{{ item.price }}</p>
                </div>
                <div class="button-container">
                    <button class="item-details-button" data-item-id="{{ item.item_id }}">詳細資訊</button>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <script src="{% static 'sell-item.js' %}?v=3"></script>
</body>
</html>