.header-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    /* padding: 0 20px; */
    background-color: #e7e7e7;
    color: #000000;
  }

.header-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    /* padding: 0 20px; */
    /* background-color: #fbe5c7; */
    color: #000000;
}
  
.header-links1 {
    align-items: center;
    position: absolute;
    right: 30px;
    width: 200px;
    max-width: 1200px;
}

.header-links2 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
}
  
.header-link1 {
    margin-left: 20px;
    color: #000000;
    text-decoration: none;
}

.header-link2 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
  
.header-link:hover {
    text-decoration: underline;
}
  
.header-logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
}

.search-bar input[type="text"] {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: #f8f8f8;
    font-size: 12px;
    color: #333;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
}
  
.search-bar input[type="text"]:focus {
    outline: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.categories {
    margin-top: 10px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 5px;
    float: left; /* 讓區塊靠左 */
    margin-right: 20px; /* 設置右邊間距 */
    background-color: white;
    height: 100%;
    display: flex;
  }
  
  .categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .categories ul li {
    display: block; /* 讓每個項目佔據整個寬度 */
    margin-bottom: 10px; /* 設置下方間距 */
  }
  
  .categories ul li.active a {
    font-weight: bold;
  }
  
  .categories ul li a {
    color: #333;
    text-decoration: none;
    display: block; /* 讓每個項目佔據整個寬度 */
    padding: 5px 10px; /* 設置上下左右內間距 */
  }
  
  .categories ul li a:hover {
    text-decoration: underline;
    background-color: #eee; /* 當滑鼠移到項目上時變更背景色 */
  }

  /* 販賣物品表單 */
/* 隱藏表單 */
#sell-form {
    display: none;
  }
  
  /* 按鈕樣式 */
  #sell-button {
    background-color: #4CAF50; /* 綠色 */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    width: 40%;
    cursor: pointer;
  }
  
  /* 表單樣式 */
  #sell-form {
    font-family: Arial, sans-serif;
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  #sell-form h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #ff8400;
  }
  
  #sell-form label {
    display: block;
    margin-bottom: 8px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #333;
  }
  
  #sell-form input,
  #sell-form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }  

  .sell-button {
    display: inline-block;
    background-color: #ff8400;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .sell-form-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }


  
  #sell-form input[type="text"],
  #sell-form input[type="number"],
  #sell-form select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #555;
  }
  
  #sell-form input[type="file"] {
    margin-top: 20px;
  }
  
  #sell-form select {
    margin-top: 5px;
  }
  
  #sell-form .sell-submit-button {
    margin-top: 30px;
    text-align: center;
  }
  
  #sell-form .sell-submit-button button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  #sell-form .sell-submit-button .cancel-button {
    background-color: #bbb;
    color: white;
    margin-right: 20px;
  }
  
  #sell-form .sell-submit-button .sell-button {
    background-color: #ff8400;
    color: white;
  }

/* 商品外觀 */
.newItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    width: 18%;
    height: 300px;
  }
  
  .newItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }
  
  .newItem img {
    width: 250px;
    height: 200px;
  }
  
  .newItem h3 {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .newItem p {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    color: #ff6347;
  }
  
  .newItem button {
    background-color: #ff7f50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  
  .newItem button:hover {
    background-color: #ff6347;
  }

  #item-container {
    display: flex;
    flex-wrap: wrap;
  }

  .item-image-container {
    width: 250px;
    height: 200px;
    overflow: hidden;
  }


  .item-text-container {
    width: 100%;
  }

/* 商品詳細資料 */
#item-details-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.item-details-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
}

.item-details-container .item-details-image {
  width: 50%;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.item-details-container .item-details-image img {
  max-width: 100%;
  text-align: center;
  align-items: center;
}

.item-details-container .item-details-text {
  font-size: 18px;
}

.item-details-container .item-details-text h2 {
  font-size: 28px;
}

.item-details-container .item-details-text h3{
  margin-bottom: 10px;
  font-size: 24px;
  color: #ff6347;
}

.item-details-container .item-details-text p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #888;
}

.item-details-container .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-color: rgb(252, 89, 56);
  color: white;
}

  