@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    /* background-color: #f8ede8; */
    scroll-behavior: smooth;
}

body {
  background-color: #f8ede8;
}

.container {
    width: 1000px;
}

.categories {
    margin-top: 10px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 5px;
    float: left; /* 讓區塊靠左 */
    margin-right: 20px; /* 設置右邊間距 */
    background-color: rgb(255, 201, 154);
    height: 100%;
    display: flex;
  }
  
  .categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .categories ul li {
    display: block; /* 讓每個項目佔據整個寬度 */
    margin-bottom: 10px; /* 設置下方間距 */
  }
  
  .categories ul li.active a {
    font-weight: bold;
  }
  
  .categories ul li a {
    color: #333;
    text-decoration: none;
    display: block; /* 讓每個項目佔據整個寬度 */
    padding: 5px 10px; /* 設置上下左右內間距 */
  }
  
  .categories ul li a:hover {
    text-decoration: underline;
    background-color: #eee; /* 當滑鼠移到項目上時變更背景色 */
  }

  /* 販賣物品表單 */
  
  /* 按鈕樣式 */
  #sell-button {
    background-color: #4CAF50; /* 綠色 */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    width: 40%;
    cursor: pointer;
  }
  
  /* 表單樣式 */
  #sell-form {
    display: none;
    font-family: Arial, sans-serif;
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: 70%;
    overflow-y: scroll;
  }
  
  #sell-form h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #ff8400;
  }
  
  #sell-form label {
    display: block;
    margin-bottom: 8px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #333;
  }
  
  #sell-form input,
  #sell-form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }  

  .sell-button {
    display: inline-block;
    background-color: #ff8400;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .sell-form-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    background-color: white;
  }


  
  #sell-form input[type="text"],
  #sell-form input[type="number"],
  #sell-form select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #555;
  }
  
  #sell-form input[type="file"] {
    margin-top: 20px;
  }
  
  #sell-form select {
    margin-top: 5px;
  }
  
  #sell-form .sell-submit-button {
    margin-top: 30px;
    text-align: center;
  }
  
  #sell-form .sell-submit-button button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  #sell-form .sell-submit-button .cancel-button {
    background-color: #bbb;
    color: white;
    margin-right: 20px;
  }
  
  #sell-form .sell-submit-button .sell-button {
    background-color: #ff8400;
    color: white;
  }

/* 商品外觀 */
.newItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  width: 18%;
  height: 300px;
  min-width: 150px;
  }
  
  .newItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }
  
  .newItem img {
    width: 250px;
    height: 200px;
  }
  
  .newItem h3 {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
  }

  #item-container {
    display: flex;
    flex-wrap: wrap;
  }

  .item-image-container {
    width: 250px;
    height: 200px;
    overflow: hidden;
  }


  .item-text-container {
    width: 100%;
  }

  .item-text-container p{
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    color: #ff6347;
  }

/* 商品詳細資料 */
.item-details-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.item-details-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  max-height: 70%;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

.item-details-image {
  flex: 0 0 40%;
  height: 300px;
  padding: 20px;
}

.item-details-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-details-text {
  flex: 1;
}

.item-details-text h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  color: #ff6347;
}

.item-details-text h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

.item-details-text p {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.5;
  color: gray ;
}

.item-details-text p:last-of-type {
  margin-bottom: 0;
}

.item-details-container .close-button { 
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-color: rgb(252, 89, 56);
  color: white;
}

/* 留言板樣式 */
#comment-form {
  margin-top: 20px;
}

#comment-form label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#comment-form textarea {
  display: block;
  width: 90%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: none;
}

#comment-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#comment-form button[type="submit"]:hover {
  background-color: #0069d9;
}


.comments {
  margin-top: 20px;
  max-height: 500px;
  overflow-y: scroll;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.comment-user-info {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-user-details {
  display: flex;
  flex-direction: column;
}

.comment-username {
  font-weight: bold;
}

.comment-time {
  font-size: 12px;
  color: gray;
  margin: 0;
}

.comment-content {
  background-color: #f9f9f9;
  border-radius: 5px;
  flex: 1;
  line-height: 1.5;
}


#my-item-button {
  background-color: #579dff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  width: 40%;
  cursor: pointer;
}


.close-button {
  background-color: #ff7f50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.item-details-button {
  background-color: #ff7f50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.item-details-button:hover {
  background-color: #ff6347;
}

.delete-item-button {
  font-size: 11px;
  text-decoration: none;
  background-color: #808080;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}