.header-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    /* padding: 0 20px; */
    background-color: #e7e7e7;
    color: #000000;
  }

.header-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    /* padding: 0 20px; */
    /* background-color: #fbe5c7; */
    color: #000000;
}
  
.header-links1 {
    align-items: center;
    position: absolute;
    right: 30px;
    width: 200px;
    max-width: 1200px;
}

.header-links2 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
}
  
.header-link1 {
    margin-left: 20px;
    color: #000000;
    text-decoration: none;
}

.header-link2 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
  
.header-link:hover {
    text-decoration: underline;
}
  
.header-logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
}

.search-bar input[type="text"] {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: #f8f8f8;
    font-size: 12px;
    color: #333;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
}
  
.search-bar input[type="text"]:focus {
    outline: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.page-title {
    font-size: 60px;
    font-weight: bold;
    position: flex;
}

.title-donate {
    position: absolute;
    top: 1100px;
    right: 190px;
    background-color: rgba(0, 0, 0, 0.6); /* 設置透明度為50%的黑色背景 */
    color: #fff; /* 設置文字顏色為白色 */
    width: 400px; /* 設置寬度為200像素 */
    height: 80px; /* 設置高度為100像素 */
    display: flex; /* 使用彈性盒子模型設置內容置中 */
    justify-content: center;
    align-items: center;
}
  
.title-donate p {
    font-size: 24px; /* 設置文字大小為24像素 */
    font-weight: bold;
    text-align: center; /* 文字置中 */
}

.outer-link {
    position: absolute;
    right: 195px;
    width: 250px;
    height: 70px;
    border: 2px solid black;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.outer-link a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.toys {
    background-color: #d2d2d2;
    width: 50%;
    height: 250px;
    align-items: center;
    padding: 65px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

.toys a {
    color: black;
    font-size: 18px;
    vertical-align: middle;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 50%;
  position: absolute;
  top: 1948px;
  right: 0;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ff5656;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #bbb;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  position: absolute;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #ff5656;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#articles-container {
    width: 100%;
    height: 300px;
    overflow-x: scroll;
    white-space: nowrap;
    margin-left: 50px;
}

.article {
    position: relative;
    margin: 20px 0 0 25px;
    border-radius: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: inline-block;
    width: 240px;
    height: 270px;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.article:hover {
    box-shadow: 1px 1px 8px 3px rgba(36, 36, 36, 0.8);
}

.article-img {
    position: relative;
    border-radius: 6px;
    width: 240px;
    height: 170px;
    overflow: hidden;
    background-color: #fff;
    vertical-align: middle;
}

.article:hover .article-img {
    transform: translate(0%,0%) scale(1.1);
}

.article-title {
    font-size: 24px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#articles-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 15px;

  }
  
#articles-container button.left {
    left: 40px;
    top: 2480px;
}

#articles-container button.right {
    right: 20px;
    top: 2480px;
}

.campaign-create {
    margin-top: 20px;
    left: 30px;
    position: absolute;
    width: 180px;
    height: 70px;
    /* border: 2px solid black; */
    background-color: rgb(251, 166, 101);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.campaign-create a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.campaign-form-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
  
.campaign-form {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 600px;
    position: relative;
    height: 450px;
}

.submit {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-form {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close-form:hover, .close-form:focus, .submit:hover, .submit:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.campaign-form input[type="text"],
.campaign-form input[type="datetime-local"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

.campaign-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 16px;
}

.campaign-form input[type="submit"]:hover {
    background-color: #45a049;
}
  
.campaign-form label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
  
